customers-process-api/src/main/mule/health.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="livenessCheck" doc:id="83ef149f-b00a-46c0-833d-b8e44487b90b" >
		<http:listener doc:name="Listener" doc:id="5c3e5efa-affa-474a-b9d7-868250a0f6a9" config-ref="HTTP_Listener_config" path="/alive">
			<http:response statusCode="200" />
			<http:error-response statusCode="500" >
				<http:body ><![CDATA[#[DOWN]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-payload value='UP' doc:name="Set Payload" doc:id="d96e45fd-6ad9-4e84-9cf3-62c5acd76275" />
	</flow>
	<flow name="readinessCheck">
		<http:listener config-ref="HTTP_Listener_config" path="/ready">
		<http:response statusCode="200" />
		<http:error-response statusCode="500">
		<http:body><![CDATA[DOWN]]></http:body>
		</http:error-response>
		</http:listener>
		<flow-ref name="check-all-dependencies-are-alive" />
		<set-payload value="UP" />
	</flow>
	<sub-flow name="check-all-dependencies-are-alive">
		<logger />
	</sub-flow>
</mule>
