customers-process-api/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="mainFlow" doc:id="e6a35b49-0f80-4e9f-8a3b-54da5c4dbea0" >
		<http:listener doc:name="Listener" doc:id="591a3ff1-8709-43ce-a783-92cab9184412" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["Hello Gon!"]' doc:name="Set Payload" doc:id="3a1ce01f-ac3e-412d-96e2-6ddacc0830db" />
	</flow>
</mule>
